* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #D9EBFE;
    flex-direction: column;
    padding: 20px;
}
.tagline{
    font-size: 20px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7795b8;
    border-radius: 10px;
    padding: 2rem;
    gap: 1.5rem;
    width: 100%;
    max-width: 700px;
}

.header1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #1B252F;
    padding: 4px;
}

.header {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.upper {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 5px;
    text-decoration: underline;
    text-align: center;
}

.maincontent {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.question-box {
    background-color: #1B252F;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}

.question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.question i {
    font-size: 20px;
    cursor: pointer;
}

.answer {
    font-size: 16px;
    display: none;
    max-height: 0;
    background-color: #f1f1f1;
    padding: 20px;
    width: 100%;
    color: black;
    border-radius: 0 0 10px 10px;
}

.answer.show {
    display: block;
    max-height: 500px;
    background-color: #ffffff;
}

.question i.rotate {
    transform: rotate(180deg);
}
